<html>
<head>
    <title>Add a route</title>
</head>
<body>
<form method="post" action="/routes/v1/add">
    <p>What is the URL you want to add?<label>
        <input type="text" name="url_to_add" id="url_to_add">
    </label></p>
    <p><input type="submit"></p>
    {% if success %}
        <hr>
        <h1>Success!</h1>
        <p>Added {{ added_url }}: Short link: <a href="{{ short_link }}">{{ short_link }}</a></p>
    {% elif failed %}
        <hr>
        <h1>Sorry!</h1>
        <p>It looks like there is a hash collision!</p>
        <p>You asked to add: {{ added_url }} which would result in {{ short_link }} but that already goes to <a href="{{ existing_url }}">{{ existing_url }}</a> </p>
    {% endif %}
</form>
</body>
</html>